/*  this style sheet  is for converting the mobile design to a 
desktop  and mobile view  */

@media screen and (min-width: 500px) {
  .header {
    display: flex;
    background: var(--white);
    width: 100%;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--light-blue);
    padding: 1rem 1rem 2rem;
    position: relative;
  }
  .open {
    display: none;
  }
  .menu {
    position: static;
    background: var(--white);
    display: block;
    height: inherit;
  }
  .close {
    display: none;
  }
  .menu .inner-menu {
    padding: 1.3rem;
    display: flex;
    position: static;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
  }
  .menu ul li {
    font-weight: var(--small-font-weight);
    color: var(--light-blue);
    font-size: 1.3rem;
    cursor: pointer;
  }
  .left-header {
    flex: 0.6;
    display: flex;
    align-items: center;
  }
  .right-header {
    gap: 3rem;
  }
  .avatar img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .right-header .cart {
    width: 60px;
    height: 60px;
  }
  .right-header .cart img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .cart-display {
    width: 400px;
    border-radius: 1rem;
    box-shadow: 0.6rem 2rem 2rem rgba(0, 0, 0, 0.2),
      -0.4rem 1rem 2rem rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 26rem;
    top: 4.8rem;
  }
  .product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    max-width: 1140px;
    width: 80%;
    margin-inline: auto;
    top: 200px;
    gap: 4rem;
  }
  .holder {
    width: 350px;
  }
  .product-page .slider {
    width: 400px;
    height: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
  }
  .product-page .slider .p-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: 0.5s all ease-out;
  }
  .images-container {
    width: 400px;
  }
  .nav {
    display: none;
  }
  .thumbnail-images {
    display: flex;
    width: inherit;
    justify-content: space-between;
    padding-top: 3rem;
  }
  .thumbnail-images .thumb {
    width: 20%;
    border-radius: 1rem;
  }
  .thumbnail-images .thumb:hover {
    opacity: 0.5;
  }
  .thumbnail-images .thumb.active {
    opacity: 0.3;
    border: 0.2rem solid var(--primary-dark-color);
  }
  /* this scetion is styling the product details */
  .heading {
    font-size: 1rem;
    font-weight: var(--large-font-weight);
  }
  .details > h2 {
    font-size: 2.2rem;
  }
  .info {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .price-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .price-container {
    align-self: flex-start;
    gap: 1rem;
    display: flex;
  }
  .discount {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .original-price {
    align-self: flex-start;
  }
  .flex {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .flex .quantity {
    flex: 0.4;
  }
  .add-to-cart {
    flex: 0.7;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-to-cart .add-btn {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-to-cart .add-btn img {
    /* color: white; */
  }
  /* modal section  */
  .images-container.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--black-slighthly-opacity);
  }
  .images-container.remove-modal {
    /* position: static; */
  }
  .images-container > div {
    position: relative;
  }
  .images-container.modal .slider {
    height: 400px;
    width: 400px;
    position: relative;
    /* display: none; */
  }

  .modal-slider {
    /* z-index: -1; */
  }
  .images-container.modal .slider .nav {
    display: flex;
    z-index: 100;
  }
  .images-container.modal .slider .previous {
    position: absolute;
    top: 50%;
    left: 0%;
  }
  .images-container.modal .slider .next {
    position: absolute;
    top: 50%;
    right: 0%;
  }
  .images-container.modal .slider .p-img {
    height: 100%;
    width: 100%;
  }

  .images-container.modal .thumbnail-images {
    width: 350px;
    margin-inline: auto;
    border-radius: 1rem;
  }
  .images-container.modal .thumbnail-images .thumb {
    width: 70px;
    border-radius: 1rem;
  }
  .modal-close {
    display: none;
  }
  .slider .images-container.modal .modal-close {
    position: absolute;
    /* z-index: 800; */
    top: -2rem;
    right: 0rem;
    /* width: 5rem; */
    rotate: 90deg;
    translate: -5rem;
    transition: 3s all;
    width: 1rem;
    transform: rotateZ(60deg);
    display: block;
  }
  .modal-close:hover {
  }
}
